// Colors
$primary-color: #E41C38;
$secondary-color: #fefdfa;
$text-color: #333;
$secondary-text-color: #911929;

// Dimensions
$header-height: 120px;
$footer-height: 40px;
$body-margin: 20px;
$footer-margin: 20px;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;

// Font families
$primary-font: 'Arial', sans-serif;
$header-font: 'Arial', sans-serif;
